<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="header :: header"></div>
<title><label th:text="#{label.appname}"></label></title>
</head>
<body>
	<div class="app-container">
		<div class="app">
			<div class="header-actions" style="height:9% !important;">
				<h2>
					<label th:text="#{label.appname}"></label>
				</h2>
			</div>
			<div class="tab-container">
				<div
					style="position: absolute; z-index: 10; width: 95%; height: 90%; background-color: rgba(255, 255, 255, .5);"
					id="progressIndicator">
					<div class="loadingicon"></div>
				</div>

				<div style="margin-left: -15px; margin-top: -10px; position: absolute; z-index: 10; width: 100%; height: 100%; overflow: auto; background-color: rgba(255, 255, 255, .8); display: none"
					id="serverError">
					<div class="row" style="height: 20%; width: 100%; overflow: auto;">
						<div class="col-md-12">
							<div class="notification error">
								<div class="icon" onclick="closeError()"></div>
								<div id="serverErrorMessage" class="message">An error
									occurred on the server.</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<!-- <label th:text="${tenantId}"></label>  -->
					<!-- <select th:field="*{type}">
						<option th:each="type : ${siteId}" th:value="${site}"
							th:text="${site}">${site}</option>
					</select> -->
				</div>

				<div class="tabs">
					<a class="button tab active" data-toggle="tab" data-tab-id="aboutTab" data-hide-save="true">Info</a>
				</div>

				<div class="tab-view">
					<div class="tab-section">
						<div id="aboutTab">
							<div th:include="info :: content "></div>
						</div>
					</div>
				</div>


				<div class="footer-actions">

					<div class="branding-text">Developed by Home Hardware, Inc. All
						rights reserved.</div>
				</div>

				<input type="hidden" id="tenantIdHdn" th:value="${tenantId}"></input>
				<input type="hidden" id="siteIdHdn" th:value="${siteId}"></input>
				<input type="hidden" id="selectedTab" th:value="${selectedTab}"></input>

			</div>
		</div>
	</div>
</body>
</html>
